* {
  box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #181818;
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
  display:none;
}


body > h1 {
  background-color: #fff8f0;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  padding-bottom: 30px;
}

.navbar {
  
  font-family: "Segoe UI",Arial,sans-serif;
  background-color: #26272B;
  color: #faf9f8;
  padding: 80px;
  padding-top: 0px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 1.2em;
}
.navbar a {
  text-decoration: none;
  font-size: 32px;
  
}
.navbar a:hover {
  text-decoration: underline;
}

/* Style tab links */
.tablink {
  font-family: "Segoe UI",Arial,sans-serif;
  background-color: #faf9f8;
  color: rgb(36, 32, 32);
  float: left;
 
  border: none;

  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.5em;
  text-align: left;
  width: 25%;
  padding-left: 30px;
}

.tablink:hover {
  text-decoration: underline;
}

.tablink .active1{
  color: red;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  
  color: white;
  display: none;
  /* height: 100%; */
  padding: 100px 20px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-top: 22px;
}

#Woman {
  background-color: #faf9f8;

}


#Man {
  background-color: #b4c8da;
}
#Home {
  background-color: #ffe1d0;
}
#Beauty {
  background-color: #f3d9e8;
}




.filterDiv {
  /* background-color: #2196f3; */
  color: black;
  width: 100px;
  line-height: 50px;
  text-align: center;
  margin: 5px 50px 5px 10px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin: 20px 50px 0 200px;
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons */
.btn {
  font-size: 16px;
  display: block;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 80%;
  text-align: left;
  margin-right: 0;
}

hr {
  margin-left: 0;
  width:60%;
  /* margin:0 auto; */
}

.btn:hover {
  text-decoration: underline;
}

.btn.active {
  background-color:  #181818;
  color: white;
  text-decoration: underline;
  width: 60%;

}

.sidenav {
  height: 100%;
  /* width: 200px; */
  width: 15%;
  z-index: 1;
  position: absolute;
  /* background-color: transparent; */
  /* overflow-x: hidden; */
  padding-top: 20px;
  margin-right: 0;
}

.column {
  float: left;
  width: 30%;
  height: 100%;
  padding: 0px;
  margin: 15px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container.row {
  margin-top: 0;
  /* margin-right: 0; */
  margin-right: 0;
  margin-left: 150px;
}

.item {
  color:  #181818;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  
}
.price {
  color:  #181818;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* heart icon */
.border-heart {
  color:  #181818;
  font-size: 21px;
}
.selected-heart {
  color:  #181818;
  font-size: 22px;
}

.selected-heart :focus {
  color:  #181818;
  font-size: 22px;
}

/* IMAGE SLIDESHOW */
.homepageImage {
  width: 100%

}


.prevNext{
position: relative;
/* margin-top: -35%; */

margin-top: -10vh;
 display: flex;
 justify-content: space-between;
 padding: 0 16px;
} 

.prevNext > button{
background-color: transparent;
border: transparent;
font-size: 2.5em;
cursor: pointer;
}

.prevNext > button:hover{
background-color: rgba(255, 255, 255, 0.2);
padding: 0 5px;
}

.prevNext > button:focus{
background-color: rgba(255, 255, 255, 0.2);
}

.slideshowNumbers{
z-index: 3;
text-align: center;
margin-top: -5vh;
}

.slideshowNumbers > button{
font-size: 10px;
color: white;
border: transparent;
margin: 10px;
background-color:rgba(255, 255, 255, 0.2);
cursor: pointer;

}


.textBanner{
  display: none;
}

/* TETST */

.zoomText:hover{
  font-size: 120%;
  cursor: pointer;
}

.site-footer
{
  clear: both;
  background-color:#26272b;
  padding:65px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}


/* FOOTER CONTENT */
  /* Clear floats after the columns */
  .ProjectRow:after {
    content: "";
    display: table;
    clear: both;
   
  }

  .ProjectCol {
    float: left;
    width: 20%;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-left: 30px;
  }


  .ProjectCol >h2{
  color: #efeded;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  }
  .ProjectCol li {
    list-style: none;
    margin-left: -40px;
    color: #e4e4e4;
    line-height: 30px;
  }

  .ProjectCol li:hover {
    text-decoration: underline;
    cursor: pointer;
  }


  body > footer > div > div > div > ul{
    padding-left:0;
    font-size: 16px;
    line-height: 30px;
  }

  body > footer > div > div > div > ul :hover{
text-decoration: underline;
cursor: pointer;
  }


  .social-icons > li{
    display: inline;
    list-style: none;
   padding-right: 16px;
    font-size: 1.3em;
    color: #e4e4e4;
  }
  .social-icons {
    padding-left: 30px;
  }


  .social-icons > li :hover{
    opacity: 0.5;
    text-decoration: none;
  }

  body > footer > div > ul{
    padding-left: 0;
  }

  body > footer > div > p{
    font-size:15px;
    line-height:24px;
    color:#e4e4e4;
  }

  .location > li{
    display: inline;
    list-style: none;
   padding-right: 16px;
    font-size: 15px;
    color: #e4e4e4;
  }


  .topNavLinks{
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: -50px;
    background-color:  #26272B;
    color: #e4e4e4;
    margin: 0;
    padding-top: 30px;
    /* padding-bottom: -150px; */
    padding-left: 30px;
    padding-right: 30px;
   
  }

  p.topNavLinks :hover{
    text-decoration: underline;
    margin-top: 0;
    
  }
  body > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding:30px 30px;
    background-color:  #26272B;
    color: #e4e4e4;
    margin-bottom: 0;
  }

  body > ul > li:nth-child(2) > a{
    font-size: 2em;
    text-decoration: none;
  }

 ul > li > a :hover{
  
    text-decoration: underline;
  }

  body > div.navbar >ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
  }

  div.navbar{
    padding:30px 30px;
  }


  /* TEST */
  /* Create three equal columns that floats next to each other */

  .navRow{
    padding: 30px 30px;
    background-color:  #26272B;
  }
.navColumn {
  float: left;
  width: 33.33%;
  /* padding: 30px; */
  background-color:  #26272B;
    color: #e4e4e4;
    list-style: none;
    /* font-size: 16px; */
}

.navColumn > a{
  margin-top: 15px;
  text-decoration: none;
}

.navColumn > a:hover{
  text-decoration: underline;
}
.navColumn > li > span:hover{
  text-decoration: underline;
}
/* Clear floats after the columns */
.navRow:after {
  content: "";
  display: table;
  clear: both;
 
}

.copyright-text {
  padding-left: 30px;
  color: #e4e4e4;
}

.text-block {
  position: absolute;
  bottom: 170px;
  right: 250px;
  background-color: #e4e4e4;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  font-size: 16px;
}





/* Style the active class, and buttons on mouse-over */
.active, .navlink:hover {
  background-color: #666;
  color: white;
}