
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

body > h1{
    background-color: #fff8f0;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding-bottom: 30px;
}

body > h2{
    background-color: #ff9a26;
    padding: 80px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}


/* Style tab links */
.tablink {
  background-color: #fff8f0;
  color: rgb(36, 32, 32);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.5em;
  text-align: center;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Woman {background-color: #e2d8cc;}
#Man {background-color: #b4c8da;}
#Home {background-color: #ffe1d0;}
#Beauty {background-color: #f3d9e8;}


/* Create two equal columns that floats next to each other */
.column {
  float: right;
  width: 25%;
  max-height: 5%;
  padding: 10px;
  padding-top: 0;
}

/* .column img {
  margin-top: 12px;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidenav {
  height: 80%;
  width: 200px;
  z-index: 1;
  position: absolute;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

